<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
##    <title>${page_title}</title>
</head>

<body>
<div id="header">#parse('layout/header.vm')</div>
<div id="content">
    <div class="container" style="width:100%">$screen_content</div>
</div>
<div id="footer">#parse('layout/footer.vm')</div>
</body>
</html>
