<title></title>
#set($layout = "layout/default.vm")
#set($page_title ="firstpage")
<div id="content">
    <div>
        <div>
            helloworld
        </div>
        <div>
            <table width="100%">
                #if($list && $list.size()>0)
                    #foreach($orginfo in $list)
                        <tr>
                            <td>$orginfo.getId()</td>
                            <td>$orginfo.getName()</td>
                            <td>$orginfo.getOrgtype()</td>
                        </tr>
                    #end
                #end
            </table>
        </div>
    </div>
</div>
