<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="cache-control" content="no-cache">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/static/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/static/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/static/login/login.css">


    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="/static/jquery/1.11.3/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/static/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/static/login/login.js"></script>

    <style>
        .modal-backdrop {
            background-color: #fff;
            /*filter:alpha(opacity=0); !*IE滤镜透明度50%*!
            -moz-opacity:0; !*Firefox私透明度50%*!
            opacity:0;!*其透明度50%*!*/
        }
    </style>
</head>

<body>
<div style="margin-top: 170px;padding-left: 30px;">
    <div class="row">
        <div class="col-xs-3" style="text-align: left"><h3>法律是一门技术</h3></div>
    </div>
    <div class="row">
        <div class="col-xs-3" style="text-align: right"><h3>法律也可以是一门艺术</h3></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" style="text-align: center;position: absolute;bottom:5px">明理金融法律服务团队@2015-2015 版权所有</div>
</div>
<div id="loginModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="loginForm">
      <div class="modal-header">
##        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="text-align: center">登录</h4>
      </div>
      <div class="modal-body">
            <div class="input-box">
                <input type="text" name="tel" placeholder="手机号" autocomplete="off"></input>
            </div>
            <div class="input-box">
                <input type="password"
                      autocomplete="off"
                      name="code" 
                      placeholder="验证码" style="width:166px"></input>
                <button type="button" class="btn btn-success" id="authCodeBtn">获取验证码</button>
            </div>
          <div class="form-group has-error" style="display: block">
              <label class="col-sm-10 control-label error-label" for="inputError">
              </label>
          </div>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary login" value="登录"></input>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    jQuery('#loginModal').modal({backdrop: 'static', keyboard: false}).modal('show');
    login.init();
</script>
</body>
</html>
