<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-10r, %-23d{yyyy-MM-dd HH:mm:ss.S}] %p %c{3}(%F:%L) - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG"/>
            <param name="LevelMax" value="FATAL"/>
        </filter>
    </appender>

    <appender name="FILE-ALL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="file" value="${log.path}/lawinfo-all.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%10r, %23d{yyyy-MM-dd HH:mm:ss.S}] %p %c{3}(%F:%L) - %m%n"/>
        </layout>
    </appender>

    <appender name="FILE-ERROR" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="file" value="${log.path}/lawinfo-error.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%10r, %23d{yyyy-MM-dd HH:mm:ss.S}] %p %c{3}(%F:%L) - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="WARN"/>
        </filter>
    </appender>
    <!--<appender name="SQL-DAO-ORG-ORGINFODAO" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="file" value="${log.path}/sql/sql-dao-org-smsdao.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%10r, %23d{yyyy-MM-dd HH:mm:ss.S}] %p %c{3}(%F:%L) - %m%n"/>
        </layout>
    </appender>

    <logger name="com.lawinfo.dao.org.SmsDao" additivity="true">
        <level value="DEBUG"/>
        <appender-ref ref="SQL-DAO-ORG-ORGINFODAO"/>
    </logger>-->
    <appender name="SERVICE-ORG-ORGSERVICEIMPL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="file" value="${log.path}/service-org-orgserviceimpl.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%10r, %23d{yyyy-MM-dd HH:mm:ss.S}] %p %c{3}(%F:%L) - %m%n"/>
        </layout>
    </appender>

    <logger name="com.lawinfo.service.org.impl.OrgServiceImpl" additivity="true">
        <level value="${log.common.level}"/>
        <appender-ref ref="SERVICE-ORG-ORGSERVICEIMPL"/>
    </logger>
    <appender name="SERVICE-ORG-MENUSERVICEIMPL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="file" value="${log.path}/service-org-menuserviceimpl.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%10r, %23d{yyyy-MM-dd HH:mm:ss.S}] %p %c{3}(%F:%L) - %m%n"/>
        </layout>
    </appender>

    <logger name="com.lawinfo.service.org.impl.MenuServiceImpl" additivity="true">
        <level value="${log.common.level}"/>
        <appender-ref ref="SERVICE-ORG-MENUSERVICEIMPL"/>
    </logger>
    <!--<appender name="SERVICE-ORG-CASEINFOSERVICE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="file" value="${log.path}/service-org-caseinfoservice.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%10r, %23d{yyyy-MM-dd HH:mm:ss.S}] %p %c{3}(%F:%L) - %m%n"/>
        </layout>
    </appender>

    <logger name="com.lawinfo.service.org.CaseInfoService" additivity="true">
        <level value="${log.common.level}"/>
        <appender-ref ref="SERVICE-ORG-CASEINFOSERVICE"/>
    </logger>
    <appender name="SERVICE-ORG-CASEPROGRESSSERVICE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="file" value="${log.path}/service-org-caseprogressservice.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%10r, %23d{yyyy-MM-dd HH:mm:ss.S}] %p %c{3}(%F:%L) - %m%n"/>
        </layout>
    </appender>

    <logger name="com.lawinfo.service.org.CaseProgressService" additivity="true">
        <level value="${log.common.level}"/>
        <appender-ref ref="SERVICE-ORG-CASEPROGRESSSERVICE"/>
    </logger>-->
    <appender name="SERVICE-ORG-LOGINLOGSERVICE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="file" value="${log.path}/service-org-loginlogservice.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%10r, %23d{yyyy-MM-dd HH:mm:ss.S}] %p %c{3}(%F:%L) - %m%n"/>
        </layout>
    </appender>

    <logger name="com.lawinfo.service.org.LOGINLOGSERVICE" additivity="true">
        <level value="${log.common.level}"/>
        <appender-ref ref="SERVICE-ORG-LOGINLOGSERVICE"/>
    </logger>
    <appender name="SERVICE-ORG-LOGINSERVICE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="file" value="${log.path}/service-org-loginservice.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%10r, %23d{yyyy-MM-dd HH:mm:ss.S}] %p %c{3}(%F:%L) - %m%n"/>
        </layout>
    </appender>

    <logger name="com.lawinfo.service.login.impl.LoginServiceImpl" additivity="true">
        <level value="${log.common.level}"/>
        <appender-ref ref="SERVICE-ORG-LOGINSERVICE"/>
    </logger>

    <appender name="SERVICE-ORG-ACTIONSERVICEIMPL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="file" value="${log.path}/service-org-actionserviceimpl.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%10r, %23d{yyyy-MM-dd HH:mm:ss.S}] %p %c{3}(%F:%L) - %m%n"/>
        </layout>
    </appender>

    <logger name="com.lawinfo.service.org.impl.ActionServiceImpl" additivity="true">
        <level value="${log.common.level}"/>
        <appender-ref ref="SERVICE-ORG-ACTIONSERVICEIMPL"/>
    </logger>
    <appender name="SERVICE-ORG-ROLESERVICEIMPL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="file" value="${log.path}/service-org-roleserviceimpl.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%10r, %23d{yyyy-MM-dd HH:mm:ss.S}] %p %c{3}(%F:%L) - %m%n"/>
        </layout>
    </appender>

    <logger name="com.lawinfo.service.org.impl.RoleServiceImpl" additivity="true">
        <level value="${log.common.level}"/>
        <appender-ref ref="SERVICE-ORG-ROLESERVICEIMPL"/>
    </logger>
    <appender name="SERVICE-ORG-ROLEACTIONSERVICEIMPL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="file" value="${log.path}/service-org-roleactionserviceimpl.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%10r, %23d{yyyy-MM-dd HH:mm:ss.S}] %p %c{3}(%F:%L) - %m%n"/>
        </layout>
    </appender>

    <logger name="com.lawinfo.service.org.impl.RoleActionServiceImpl" additivity="true">
        <level value="${log.common.level}"/>
        <appender-ref ref="SERVICE-ORG-ROLEACTIONSERVICEIMPL"/>
    </logger>
    <appender name="SERVICE-ORG-ROLEMENUSERVICEIMPL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="file" value="${log.path}/service-org-rolemenuserviceimpl.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%10r, %23d{yyyy-MM-dd HH:mm:ss.S}] %p %c{3}(%F:%L) - %m%n"/>
        </layout>
    </appender>

    <logger name="com.lawinfo.service.org.impl.RoleMenuServiceImpl" additivity="true">
        <level value="${log.common.level}"/>
        <appender-ref ref="SERVICE-ORG-ROLEMENUSERVICEIMPL"/>
    </logger>
    <appender name="SERVICE-ORG-SMSSERVICE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="file" value="${log.path}/service-org-smsservice.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%10r, %23d{yyyy-MM-dd HH:mm:ss.S}] %p %c{3}(%F:%L) - %m%n"/>
        </layout>
    </appender>

    <logger name="com.lawinfo.service.org.SmsService" additivity="true">
        <level value="${log.common.level}"/>
        <appender-ref ref="SERVICE-ORG-SMSSERVICE"/>
    </logger>
    <appender name="SERVICE-ORG-USERROLESERVICEIMPL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="file" value="${log.path}/service-org-userroleserviceimpl.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%10r, %23d{yyyy-MM-dd HH:mm:ss.S}] %p %c{3}(%F:%L) - %m%n"/>
        </layout>
    </appender>

    <logger name="com.lawinfo.service.org.impl.UserRoleServiceImpl" additivity="true">
        <level value="${log.common.level}"/>
        <appender-ref ref="SERVICE-ORG-USERROLESERVICEIMPL"/>
    </logger>
    <appender name="SERVICE-ORG-USERSERVICEIMPL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="file" value="${log.path}/service-org-userserviceimpl.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%10r, %23d{yyyy-MM-dd HH:mm:ss.S}] %p %c{3}(%F:%L) - %m%n"/>
        </layout>
    </appender>

    <logger name="com.lawinfo.service.org.impl.UserServiceImpl" additivity="true">
        <level value="${log.common.level}"/>
        <appender-ref ref="SERVICE-ORG-USERSERVICEIMPL"/>
    </logger>

    <appender name="SERVICE-FRONT-CASEINFOSERVICEIMPL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="file" value="${log.path}/service-front-caseinfoserviceimpl.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%10r, %23d{yyyy-MM-dd HH:mm:ss.S}] %p %c{3}(%F:%L) - %m%n"/>
        </layout>
    </appender>

    <logger name="com.lawinfo.service.front.impl.CaseInfoServiceImpl" additivity="true">
        <level value="${log.common.level}"/>
        <appender-ref ref="SERVICE-FRONT-CASEINFOSERVICEIMPL"/>
    </logger>
    <appender name="SERVICE-FRONT-CASEINFOUSERSERVICEIMPL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="file" value="${log.path}/service-front-caseinfouserserviceimpl.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%10r, %23d{yyyy-MM-dd HH:mm:ss.S}] %p %c{3}(%F:%L) - %m%n"/>
        </layout>
    </appender>

    <logger name="com.lawinfo.service.front.impl.CaseInfoUserServiceImpl" additivity="true">
        <level value="${log.common.level}"/>
        <appender-ref ref="SERVICE-FRONT-CASEINFOUSERSERVICEIMPL"/>
    </logger>
    <appender name="SERVICE-FRONT-CASEPROGRESSCOMMENTSERVICEIMPL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="file" value="${log.path}/service-front-caseprogresscommentserviceimpl.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%10r, %23d{yyyy-MM-dd HH:mm:ss.S}] %p %c{3}(%F:%L) - %m%n"/>
        </layout>
    </appender>

    <logger name="com.lawinfo.service.front.impl.CaseProgressCommentServiceImpl" additivity="true">
        <level value="${log.common.level}"/>
        <appender-ref ref="SERVICE-FRONT-CASEPROGRESSCOMMENTSERVICEIMPL"/>
    </logger>
    <appender name="SERVICE-FRONT-CASEPROGRESSSERVICEIMPL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="file" value="${log.path}/service-front-caseprogressserviceimpl.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%10r, %23d{yyyy-MM-dd HH:mm:ss.S}] %p %c{3}(%F:%L) - %m%n"/>
        </layout>
    </appender>

    <logger name="com.lawinfo.service.front.impl.CaseProgressServiceImpl" additivity="true">
        <level value="${log.common.level}"/>
        <appender-ref ref="SERVICE-FRONT-CASEPROGRESSSERVICEIMPL"/>
    </logger>


    <appender name="SERVICE-ORG-ORGINIT-LISTENER" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="file" value="${log.path}/service-org-orginit-listener.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%10r, %23d{yyyy-MM-dd HH:mm:ss.S}] %p %c{3}(%F:%L) - %m%n"/>
        </layout>
    </appender>

    <logger name="com.lawinfo.service.org.listener.OrgInitListener" additivity="true">
        <level value="${log.common.level}"/>
        <appender-ref ref="SERVICE-ORG-ORGINIT-LISTENER"/>
    </logger>
    <appender name="SERVICE-SMS-ENSENDSMSSERVICEIMPL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="file" value="${log.path}/service-sms-ensendsmsserviceimpl.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%10r, %23d{yyyy-MM-dd HH:mm:ss.S}] %p %c{3}(%F:%L) - %m%n"/>
        </layout>
    </appender>

    <logger name="com.lawinfo.service.sms.impl.EnSendSmsServiceImpl" additivity="true">
        <level value="${log.common.level}"/>
        <appender-ref ref="SERVICE-SMS-ENSENDSMSSERVICEIMPL"/>
    </logger>
    <appender name="SERVICE-FRONT-ECHARTSSERVICEIMPL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="file" value="${log.path}/service-front-echartsserviceimpl.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%10r, %23d{yyyy-MM-dd HH:mm:ss.S}] %p %c{3}(%F:%L) - %m%n"/>
        </layout>
    </appender>

    <logger name="com.lawinfo.service.front.impl.EchartsServiceImpl" additivity="true">
        <level value="${log.common.level}"/>
        <appender-ref ref="SERVICE-FRONT-ECHARTSSERVICEIMPL"/>
    </logger>

    <root>
        <priority value="${log.root.level}"/>
        <!--<appender-ref ref="CONSOLE"/>-->
        <!--<appender-ref ref="FILE-ALL"/>-->
        <appender-ref ref="FILE-ERROR"/>
    </root>
</log4j:configuration>