<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx.xsd"
       default-autowire="byName">

       <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
              <property name="configLocation" value="classpath:MyBatis-Configuration.xml"></property>
              <property name="dataSource" ref="dataSource" />
       </bean>
       <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
              <property name="dataSource" ref="dataSource" />
              <!--<qualifier value="isap"/>-->
       </bean>

       <!-- 如果是isap的表，用@Transactional("isap")，如果是smis用 @Transactional("smis")管理事务-->
       <tx:annotation-driven transaction-manager="transactionManager" />

       <bean id="orgInfoDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
              <property name="mapperInterface" value="com.lawinfo.dao.org.OrgInfoDao"></property>
              <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
       </bean>

       <bean id="deptDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
              <property name="mapperInterface" value="com.lawinfo.dao.org.DeptDao"></property>
              <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
       </bean>
       <bean id="privilegeDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
              <property name="mapperInterface" value="com.lawinfo.dao.org.PrivilegeDao"></property>
              <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
       </bean>
       <bean id="roleDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
              <property name="mapperInterface" value="com.lawinfo.dao.org.RoleDao"></property>
              <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
       </bean>
       <bean id="caseProgressDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
              <property name="mapperInterface" value="com.lawinfo.dao.org.CaseProgressDao"></property>
              <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
       </bean>
</beans>