<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx.xsd"
       default-autowire="byName">

       <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
              <property name="configLocation" value="classpath:MyBatis-Configuration.xml"></property>
              <property name="dataSource" ref="dataSource" />
       </bean>
       <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
              <property name="dataSource" ref="dataSource" />
              <!--<qualifier value="isap"/>-->
       </bean>

        <!--如果是isap的表，用@Transactional("isap")，如果是smis用 @Transactional("smis")管理事务-->
       <tx:annotation-driven transaction-manager="transactionManager" />
        <bean id="orgDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
            <property name="mapperInterface" value="com.lawinfo.dao.org.OrgDao"/>
            <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        </bean>
        <bean id="actionDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
            <property name="mapperInterface" value="com.lawinfo.dao.org.ActionDao"/>
            <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        </bean>
        <bean id="menuDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
            <property name="mapperInterface" value="com.lawinfo.dao.org.MenuDao"/>
            <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        </bean>
        <bean id="roleDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
            <property name="mapperInterface" value="com.lawinfo.dao.org.RoleDao"/>
            <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        </bean>
        <bean id="roleMenuDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
            <property name="mapperInterface" value="com.lawinfo.dao.org.RoleMenuDao"/>
            <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        </bean>
        <bean id="roleActionDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
            <property name="mapperInterface" value="com.lawinfo.dao.org.RoleActionDao"/>
            <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        </bean>
        <bean id="userDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
            <property name="mapperInterface" value="com.lawinfo.dao.org.UserDao"></property>
            <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
        </bean>
        <bean id="userRoleDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
            <property name="mapperInterface" value="com.lawinfo.dao.org.UserRoleDao"></property>
            <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
        </bean>
        <bean id="loginLogDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
            <property name="mapperInterface" value="com.lawinfo.dao.org.LoginLogDao"></property>
            <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
        </bean>
        <bean id="smsDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
            <property name="mapperInterface" value="com.lawinfo.dao.org.SmsDao"></property>
            <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
        </bean>
        <bean id="caseProgressDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
            <property name="mapperInterface" value="com.lawinfo.dao.front.CaseProgressDao"></property>
            <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
        </bean>
        <bean id="caseInfoDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
            <property name="mapperInterface" value="com.lawinfo.dao.front.CaseInfoDao"></property>
            <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
        </bean>
        <bean id="caseInfoUserDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
            <property name="mapperInterface" value="com.lawinfo.dao.front.CaseInfoUserDao"></property>
            <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
        </bean>
</beans>