#set($layout = "/layout/mobiledefault.vm")
<script src="/static/mobile/caseprogressM.js" xmlns="http://www.w3.org/1999/html"></script>
<style>
    .div-span{
        padding-top: 20px;
    }
</style>
<div>
    <div class="modal-body">
        <div class="row" style="margin: 5px;">
            <div class="progress">
                <div class="progress-bar progress-bar-success status-progress" role="progressbar"
                     aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                     style="width: 1%;">
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="nav nav-tabs">
                #if($!actionmap&&$!actionmap.get('caseinfo-progress-query-tab'))
                    <li class="active">
                        <a href="#progress-query" data-toggle="tab" id="progress-query-tab"><span class="glyphicon glyphicon-eye-open"></span>预览诉讼进度</a>
                    </li>
                #end
                #if($!actionmap&&$!actionmap.get('caseinfo-progress-edit-tab'))
                    <li>
                        <a href="#progress-edit" data-toggle="tab" id="progress-edit-tab"><span class="glyphicon glyphicon-pencil"></span>编辑诉讼进度</a>
                    </li>
                #end
                #if($!actionmap&&$!actionmap.get('caseinfo-progress-ss-end-tab'))
                    <li>
                        <a href="#progress-ss-end" data-toggle="tab" id="progress-ss-end-tab"><span class="glyphicon glyphicon-floppy-saved"></span>诉讼完成</a>
                    </li>
                #end
                #if($!actionmap&&$!actionmap.get('caseinfo-execute-progress-query-tab'))
                    <li>
                        <a href="#progress-execute-query" data-toggle="tab" id="progress-progress-query-execute-tab"><span class="glyphicon glyphicon-eye-open"></span>预览执行进度</a>
                    </li>
                #end
                #if($!actionmap&&$!actionmap.get('caseinfo-execute-progress-edit-tab'))
                    <li>
                        <a href="#progress-execute-edit" data-toggle="tab" id="progress-edit-execute-tab"><span class="glyphicon glyphicon-pencil"></span>编辑执行进度</a>
                    </li>
                #end
                #if($!actionmap&&$!actionmap.get('front-caseinfo-setstatus-finish'))
                    <li>
                        <a href="#case-progress-all-end" data-toggle="tab" id="progress-execute-end-tab"><span class="glyphicon glyphicon-floppy-saved"></span>案件归档</a>
                    </li>
                #end
                #if($!actionmap&&$!actionmap.get('caseinfo-info-query-tab'))
                    <li>
                        <a href="#caseinfo-info" data-toggle="tab" id="caseinfo-info-tab"><span class="glyphicon glyphicon-eye-open"></span>案件信息</a>
                    </li>
                #end
            </ul>
            <div class="tab-content" style="margin-top: 5px;">
                <div class="tab-pane fade in active" id="progress-query">
                    <div>
                        <table class="table table-hover">
                            <thead>
                            <tr>
##                                <th>&nbsp;</th>
                                #*<th>提交人</th>
                                <th>提交时间</th>*#
                                <th style="width: 50%">内容</th>
                                <th style="width: 50%">计划</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="progress-edit">
                    <div class="">
                        <div class="col-xs-10 tree">
                            <div id="caseinfo-progress-tree" class="progress-tree-class"></div>
                        </div>
                        <div class="col-xs-1">
                            <a class="tree-hide"><<<</a>
                        </div>
                        <div class="col-xs-1" >
                            <a class="tree-show" style="display: none">>>></a>
                        </div>
                        <div class="col-xs-10 edit-form" style="display: none">
                            <form role="form" id="caseinfo-progress-form" class="progress-edit-form-class">
                                <div class="caseinfo-progress-list">
                                </div>
                                <div class="form-group add-form">
                                </div>
                                <div class="has-error" style="display: none">
                                    <div class="col-xs-12">
                                        <label class="control-label error-label" for="inputError">
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="case-progress-all-end">

                </div>
                <div class="tab-pane fade" id="progress-ss-end">
                    <div class="">
                        <div class="col-xs-12">
                            <div>
                                <form role="form" id="caseinfo-progress-ss-end-form" class="progress-edit-form-class">
                                    <div class="row form-group">
                                        <div class="col-xs-3" style="text-align: right">执行案号</div>
                                        <div class="col-xs-8"><input id="exeajbh" class="form-control" type="text"/></div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-3" style="text-align: right">执行律师</div>
                                        <div class="col-xs-8">
                                            <input id="exelawyers" class="form-control" type="text" readonly/>
                                            <input id="exelawyerids" class="form-control" type="text" style="display: none"/>
                                            <div id="caseinfo-exelawyer-tree">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row has-error" style="display: none">
                                        <div class="col-xs-12">
                                            <label class="control-label error-label" for="inputError">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a type="button" class="btn btn-primary btn-lg btn-block">提交</a>
                                    </div>
                                    #*<div class="row form-group">
                                        <button type="button" class="btn btn-primary btn-lg">
                                            提交
                                        </button>
                                    </div>*#
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="progress-execute-query">
                    <div>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                #*<th>&nbsp;</th>
                                <th>序号</th>
                                <th>提交人</th>
                                <th>提交时间</th>*#
                                <th style="width: 50%">内容</th>
                                <th style="width: 50%">计划</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="progress-execute-edit">
                    <div class="">
                        <div class="col-xs-10 tree">
                            <div id="caseinfo-execute-progress-tree" class="progress-tree-class"></div>
                        </div>
                        <div class="col-xs-1">
                            <a class="tree-hide"><<<</a>
                        </div>
                        <div class="col-xs-1" >
                            <a class="tree-show" style="display: none">>>></a>
                        </div>
                        <div class="col-xs-10 edit-form" style="display: none">
                            <form role="form" id="caseinfo-execute-progress-form" class="progress-edit-form-class">
                                <div class="caseinfo-progress-list">
                                </div>
                                <div class="row form-group add-form">
                                </div>
                                <div class="row has-error" style="display: none">
                                    <div class="col-xs-12">
                                        <label class="control-label error-label" for="inputError">
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="caseinfo-info">
                    <div>
                        <div class="col-xs-12 div-span">
                            <span><label>诉讼律师&nbsp;:&nbsp;</label><span id="ssls" class="span-text"></span></span>
                        </div>
                        <div class="col-xs-12 div-span">
                            <span><label>执行律师&nbsp;:&nbsp;</label><span id="zxls" class="span-text"></span></span>
                        </div>
                        <div class="col-xs-12 div-span">
                            <span><label>执行案号&nbsp;:&nbsp;</label><span id="zxah" class="span-text"></span></span>
                        </div>
                        <div class="col-xs-12 div-span">
                            <span><label>案件所属机构&nbsp;:&nbsp;</label><span id="ajssjg" class="span-text"></span></span>
                        </div>
                        <div class="col-xs-12 div-span">
                            <span><label>机构联络人&nbsp;:&nbsp;</label><span id="jgllr" class="span-text"></span></span>
                        </div>
                        <div class="col-xs-12 div-span">
                            <span><label>债权本金&nbsp;:&nbsp;</label><span id="zaiquanbj" class="span-text"></span></span>
                        </div>
                        <div class="col-xs-12 div-span">
                            <span><label>债权到期日期&nbsp;:&nbsp;</label><span id="zaiquandqr" class="span-text"></span></span>
                        </div>
                        <div class="col-xs-12 div-span">
                            <span><label>抵押物价值&nbsp;:&nbsp;</label><span id="dywjj" class="span-text"></span></span>
                        </div>
                        <div class="col-xs-12 div-span">
                            <span><label>律师费总额&nbsp;:&nbsp;</label><span id="lsfze" class="span-text"></span></span>
                        </div>

                        <div class="col-xs-12 div-span">
                            <span><label>受理法院&nbsp;:&nbsp;</label><span id="slfy" class="span-text"></span></span>
                        </div>
                        <div class="col-xs-12 div-span">
                            <span><label>承办法官&nbsp;:&nbsp;</label><span id="cbfg" class="span-text"></span></span>
                        </div>
                        <div class="col-xs-12 div-span">
                            <span><label>债务人信息&nbsp;:&nbsp;</label><span id="zwrxx" class="span-text"></span></span>
                        </div>
                        <div class="col-xs-12 div-span">
                            <span><label>债务人财产状况&nbsp;:&nbsp;</label><span id="zwrcczk" class="span-text"></span></span>
                        </div>
                        <div class="col-xs-12 div-span">
                            <span><label>案由&nbsp;:&nbsp;</label><span id="anyou" class="span-text"></span></span>
                        </div>
                        <div class="col-xs-12 div-span">
                            <span><label>担保人信息&nbsp;:&nbsp;</label><span id="dbrxx" class="span-text"></span></span>
                        </div>
                        <div class="col-xs-12 div-span">
                            <span><label>担保方式&nbsp;:&nbsp;</label><span id="dbfs" class="span-text"></span></span>
                        </div>
                        <div class="col-xs-12 div-span">
                            <span><label>担保人财产状况&nbsp;:&nbsp;</label><span id="dbrcczk" class="span-text"></span></span>
                        </div>
                        <div class="col-xs-12 div-span">
                            <span><label>抵押物信息&nbsp;:&nbsp;</label><span id="dywxx" class="span-text"></span></span>
                        </div>
                        <div class="col-xs-12 div-span">
                            <span><label>案件程序&nbsp;:&nbsp;</label><span id="ajcx" class="span-text"></span></span>
                        </div>
                        <div class="col-xs-12 div-span">
                            <label><span id="zwrsfgl" class="span-text"></span></label>
                        </div>
                        <div class="col-xs-12 div-span">
                            <label><span id="dbrsfgl" class="span-text"></span></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var selectCaseinfoId = '$!caseid';
    caseprogress.init();
    #if($!actionmap&&$!actionmap.get('front-caseinfo-lawyer-tree-view'))
        caseprogress.initEditPrivil();
    #end
    function hideSsTree(){
        jQuery('#progress-edit .tree-hide').hide();
        jQuery('#progress-edit .tree-show').show();
        jQuery('#progress-edit .edit-form').show();
        jQuery('#progress-edit .tree').hide();
    }
    function showSsTree(){
        jQuery('#progress-edit .tree-show').hide();
        jQuery('#progress-edit .tree-hide').show();
        jQuery('#progress-edit .edit-form').hide();
        jQuery('#progress-edit .tree').show();
    }
    function hideExeTree(){
        jQuery('#progress-execute-edit .tree-hide').hide();
        jQuery('#progress-execute-edit .tree-show').show();
        jQuery('#progress-execute-edit .edit-form').show();
        jQuery('#progress-execute-edit .tree').hide();
    }
    function showExeTree(){
        jQuery('#progress-execute-edit .tree-show').hide();
        jQuery('#progress-execute-edit .tree-hide').show();
        jQuery('#progress-execute-edit .edit-form').hide();
        jQuery('#progress-execute-edit .tree').show();
    }
    jQuery('#progress-edit .tree-hide').click(hideSsTree);
    jQuery('#progress-edit .tree-show').click(showSsTree);
    jQuery('#progress-execute-edit .tree-hide').click(hideExeTree);
    jQuery('#progress-execute-edit .tree-show').click(showExeTree);
</script>
