<!DOCTYPE html>
<html>
<head>
<script>
</script>
    <title>Law</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="Sunday 26 October 2008 01:00 GMT" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="http://localhost/static/resource/common/common.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="http://localhost/static/resource/common/libs/mod.js"></script>

    <link rel="stylesheet" type="text/css" href="http://localhost/static/resource/pagelet/admin/admin.css">


    <script type="text/javascript" data-single="true" src="http://localhost/static/pkg/asyncmap.js"></script>
</head>
<body>

<header class="l-header">
  <div class="l-header-ctn">
    <ul class="l-nav">
      <li class="glyphicon glyphicon-list-alt">
        基础信息
      </li>
      <li class="glyphicon glyphicon-stats">
        数据统计
      </li>
    </ul>
  </div>
</header>

<div class="page-container">
   <div class="case-list l-card" style="display:none">
      <div class="card-header">
         <span class="title">案件列表</span>
      </div>
      <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>序号</th>
                      <th>摘要</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                 <tbody>
                    <tr>
                      <td>1</td>
                      <td>中国工商银行诉中央办事处XXXXX</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>中国工商银行诉中央办事处XXXXX</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>中国工商银行诉中央办事处XXXXX</td>
                    </tr>
                  </tbody>
                </table>
   </div>
   <div class="card-list">
      <div class="card-left">
          <div class="l-card">
              <div class="card-header">
                 <span class="title">用户列表</span>
                 <div class="actions">
                    <button type="button" class="btn btn-primary btn-add-user">添加用户</button>
                 </div>
              </div>
              <div>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>序号</th>
                      <th>名称</th>
                      <th>电话号码</th>
                      <th>机构部门</th>
                      <th>职位</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                <tbody id="userlistcontent">
                </tbody>
                </table>
                <div class="footer">
                  <a href="#" style="display:none">显示更多</a>
                </div>
              </div>
          </div>
          <div class="l-card" style="display:none">
              <div class="card-header">
                 <span class="title">角色列表</span>
                 <div class="actions">
                    <button type="button" class="btn btn-primary btn-addrole">添加角色</button>
                 </div>
              </div>
              <div>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>序号</th>
                      <th>角色名</th>
                      <th>角色代码</th>
                      <th>描述</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody id="roleListContent">
                  </tbody>
                </table>
              </div>
          </div>
      </div>
      <div class="card-right">
          <div class="l-card" style="display:none">
              <div class="card-header">
                 <span class="title">权限列表</span>
                 <div class="actions">
                    <button type="button" class="btn btn-primary btn-addprivilege">添加权限</button>
                 </div>
              </div>
              <div>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>序号</th>
                      <th>权限名称</th>
                      <th>权限代码</th>
                      <th>描述</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody id="privilegeListContent">
                  </tbody>
                </table>
              </div>
          </div>
          <div class="l-card">
              <div class="card-header">
                 <span class="title">机构</span>
                 <div class="actions">
                    <button type="button" class="btn btn-primary btn-organization">添加机构</button>
                 </div>
              </div>
              <div>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>序号</th>
                      <th>机构</th>
                      <th>描述</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody id="orgList">
                    
                  </tbody>
                </table>
              </div>
          </div>

          <div class="l-card">
              <div class="card-header">
                 <span class="title">部门</span>
                 <div class="actions">
                    <button type="button" class="btn btn-primary btn-depart">添加部门</button>
                 </div>
              </div>
              <div>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>序号</th>
                      <th>部门</th>
                      <th>所属机构</th>
                      <th>描述</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody id="departListContent">
                    
                  </tbody>
                </table>
              </div>
          </div>
      </div>
   </div>
</div>

<div id="adduserpannel" class="modal fade" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">添加用户</h4>
      </div>

      <div class="modal-body">
          <div class="form">
              <div class="property">
                  <label>手机号码:</label><input type="text" name="tel" placeholder="手机号码"></input>
              </div>
              <div class="property">
                  <label>名字:</label><input type="text" name="username" placeholder="名字"></input>
              </div>
              <div class="property">
                  <label>机构:</label>

                  <!-- Single button -->
                  <div class="btn-group">
                    <button type="button" 
                          class="btn btn-default dropdown-toggle" 
                          data-toggle="dropdown" aria-haspopup ="true" 
                          aria-expanded="false">
                      <span class="lb"></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="userOrgMenu"></ul>
                  </div>
              </div>

              <div class="property">
                  <label>角色:</label>
                  <!-- Single button -->
                  <div class="btn-group">
                      <button type="button" 
                            class="btn btn-default dropdown-toggle" 
                            data-toggle="dropdown" aria-haspopup ="true" 
                            aria-expanded="false">
                        <span class="lb"></span> <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" id="roleMenuList">
                      </ul>
                  </div>
              </div>

              <div class="property" id="row-depart-add">
                  <label>部门:</label>

                  <!-- Single button -->
                  <div class="btn-group">
                    <button type="button" 
                          class="btn btn-default dropdown-toggle" 
                          data-toggle="dropdown" aria-haspopup ="true" 
                          aria-expanded="false">
                      <span class="lb"></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="departMenuList">

                    </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-primary submit" >提交</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="addrole" class="modal fade" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">角色</h4>
      </div>

      <div class="modal-body">
          <div class="form">
              <div class="property">
                  <label>角色名称:</label>
                  <input type="text" name="roleName" placeholder="名称"></input>
              </div>

              <div class="property">
                  <label>角色代码:</label>
                  <input type="text" name="roleCode" placeholder="唯一代码"></input>
              </div>
              
              <div class="property privileges">
                  <label>选择权限</label>
                  <span id="privilegeList">
                    <span>
                      <label><input type="checkbox"></input>p1</label>
                    </span>
                    <span>
                      <label><input type="checkbox"></input>p2</label>
                    </span>
                    <span>
                      <label><input type="checkbox"></input>p3</label>
                    </span>
                    <span>
                      <label><input type="checkbox"></input>p5</label>
                    </span>
                  </span>
              </div>

              <div class="property">
                  <label>描述:</label>
                  <textarea></textarea>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-primary submit">提交</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="addprivilege" class="modal fade" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">权限</h4>
      </div>

      <div class="modal-body">
          <div class="form">
              <div class="property">
                  <label>权限名称:</label>
                  <input type="text" name="preName" placeholder="名称"></input>
              </div>

              <div class="property">
                  <label>权限代码:</label>
                  <input type="text" name="precode" placeholder="唯一代码"></input>
              </div>

              <div class="property">
                  <label>描述:</label>
                  <textarea></textarea>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-primary submit">提交</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="addorganization" class="modal fade" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">机构</h4>
      </div>

      <div class="modal-body">
          <div class="form">
              <div class="property">
                  <label>机构名称:</label>
                  <input name="orgName" type="text" placeholder="名称"></input>
              </div>
              <div class="property">
                  <label>机构类型:</label>
                  <span>
                    <label>
                      <input name="orgType" type="radio" value="1" checked>律所</input>
                    </label>
                    <label>
                      <input name="orgType" type="radio" value="2">银行</input>
                    </label>
                    <label>
                      <input name="orgType" type="radio" value="3">非银</input>
                    </label>
                  </span>
              </div>
              <div class="property">
                  <label>描述:</label>
                  <textarea name="orgDesc"></textarea>
              </div>
          </div>
      </div>
      <div class="modal-footer">
         <a type="button" class="btn btn-primary submit" >提交</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="adddepartpannel" class="modal fade" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">部门</h4>
      </div>

      <div class="modal-body">
          <div class="form">
              <div class="property">
                  <label>部门名称:</label>
                  <input name="departName" type="text" placeholder="名称"></input>
              </div>

              <div class="property">
                  <label>所属机构:</label>
                  <!-- Single button -->
                  <div class="btn-group">
                    <button type="button" 
                          class="btn btn-default dropdown-toggle" 
                          data-toggle="dropdown" aria-haspopup ="true" 
                          aria-expanded="false">
                      <span class="lb"></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="orgdroplist">
                    </ul>
                  </div>
              </div>

              <div class="property">
                  <label>描述:</label>
                  <textarea name="departDesc"></textarea>
              </div>
          </div>
      </div>
      <div class="modal-footer">
         <a type="button" class="btn btn-primary submit" >提交</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript" src="http://localhost/static/resource/pagelet/admin/admin.js"></script>


<script type="text/javascript">
    require("pagelet/admin/admin.js").init();
</script>
</body>
</html>
