<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    	<meta http-equiv="cache-control" content="no-cache">
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="/static/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- 可选的Bootstrap主题文件（一般不用引入） -->
		<link rel="stylesheet" href="/static/bootstrap/3.3.5/css/bootstrap-theme.min.css">

		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="/static/jquery/1.11.3/jquery.min.js"></script>

		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="/static/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="/static/bootstrap-treeview/bootstrap-treeview.js"></script>
		<script src="/static/admin/org.js"></script>
		<script src="/static/admin/action.js"></script>
		<script src="/static/admin/menu.js"></script>
		<script src="/static/admin/role.js"></script>
		<script src="/static/admin/user.js"></script>
	</head>
	<body>
		<div class="container-fluid">
            <!-----------------------------主界面 主体内容 begin------------------------------------------>
			<div class="row-fluid">
				<div class="span12">
					<h3>
						后台管理系统
					</h3>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<ul class="nav nav-tabs" id="myTab">
						<li class="active">
							<a href="#org" data-toggle="tab" id="org-tab" actionid="admin-org-man" style="display: none">组织管理</a>
						</li>
                        <li>
                            <a href="#user" data-toggle="tab" id="user-tab" actionid="admin-user-man" style="display: none">用户管理</a>
                        </li>
                        <li>
                            <a href="#action" data-toggle="tab" id="action-tab" actionid="admin-action-man" style="display: none">动作管理</a>
                        </li>
                        <li>
                            <a href="#menu" data-toggle="tab" id="menu-tab" actionid="admin-menu-man" style="display: none">菜单管理</a>
                        </li>
                        <li>
                            <a href="#role" data-toggle="tab" id="role-tab" actionid="admin-role-man" style="display: none">角色管理</a>
                        </li>
						<li>
							<a href="#" data-toggle="tab" id="group-tab" actionid="admin-group-man" style="display: none">组管理</a>
						</li>
						<li class="dropdown pull-right">
							 <a href="#" data-toggle="dropdown" class="dropdown-toggle">设置<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="/logout">离开</a>
								</li>
								#*<li>
									<a href="#">设置栏目</a>
								</li>
								<li>
									<a href="#">更多设置</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">分割线</a>
								</li>*#
							</ul>
						</li>
					</ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="org">
                            <div>
                                <h2 align="right">
									<button type="button" class="btn btn-primary btn-add-org" actionid="admin-org-man-add" style="display: none">添加机构</button>
									<button type="button" class="btn btn-primary btn-rm-org" actionid="admin-org-man-remove" style="display: none">删除机构</button>
								</h2>
                                <div id="treeview-selectable" class=""></div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="action">
                            <h2 align="right">
                                <button type="button" class="btn btn-primary btn-add">添加动作</button>
                                <button type="button" class="btn btn-primary btn-rm">删除动作</button>
                            </h2>
                            <div class="row">
                                <div class="col-xs-2">
                                </div>
                                <div class="col-xs-8">
                                    <div class="table-responsive">
                                        <table class="table action-table">
                                            <caption></caption>
                                            <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>名称</th>
                                                <th>key</th>
                                                <th>标签</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="menu">
                            <div>
                                <h2 align="right">
                                    <button type="button" class="btn btn-primary btn-add">添加菜单</button>
                                    <button type="button" class="btn btn-primary btn-rm">删除菜单</button>
                                </h2>
                                <div id="treeview-menu" class=""></div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="role">
                            <h2 align="right">
                                <button type="button" class="btn btn-primary btn-add">添加角色</button>
                                <button type="button" class="btn btn-primary btn-rm">删除角色</button>
                            </h2>
                            <div class="row">
                                <div class="col-xs-2">
                                </div>
                                <div class="col-xs-8">
                                    <div class="table-responsive">
                                        <table class="table role-table">
                                            <caption></caption>
                                            <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>角色名称</th>
                                                <th>拥有菜单</th>
                                                <th>拥有权限</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="user">
                            <h2 align="right">
                                <button type="button" class="btn btn-primary btn-add" actionid="admin-user-man-add" style="display: none">添加用户</button>
                                <button type="button" class="btn btn-primary btn-rm" actionid="admin-user-man-remove" style="display: none">删除用户</button>
                            </h2>
                            <div id="treeview-user" class=""></div>
                        </div>
				</div>

			</div>
		</div>
        <!-----------------------------主界面 主体内容 end------------------------------------------>
            <!-----------------------------用户 begin------------------------------------------>
            <div class="modal fade" id="userModal" tabindex="-1" role="dialog"
                 aria-labelledby="userModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">×
                            </button>
                            <h4 class="modal-title" id="userModalLabel">
                                添加用户
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form" id="userform">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">用户id</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="userid" type="text" placeholder="用户id">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">用户名称</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="username" type="text" placeholder="用户名称">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">登录类型</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="logintype">
                                            <option value="1">短信验证</option>
                                            #*<option value="0">密码验证</option>*#
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">拥有角色</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="userroleids" type="text" style="display: none">
                                        <div id="treeview-user-role" class=""></div>
                                    </div>
                                </div>
                                <div class="form-group has-error" style="display: none">
                                    <label class="col-sm-6 control-label error-label" for="inputError">
                                    </label>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-save">
                                保存
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!---------------------------用户 end--------------------------------->
            <!-----------------------------角色 begin------------------------------------------>
            <div class="modal fade" id="roleModal" tabindex="-1" role="dialog"
                 aria-labelledby="roleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">×
                            </button>
                            <h4 class="modal-title" id="roleModalLabel">
                                添加角色
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form" id="roleform">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">角色名称</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="rolename" type="text" placeholder="角色名称">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">拥有菜单</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="rolemenuids" type="text">
                                        <div id="treeview-role-menu" class=""></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">拥有权限</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="roleactionids" type="text">
                                        <div id="treeview-role-action" class=""></div>
                                    </div>
                                </div>
                                <div class="form-group has-error" style="display: none">
                                    <label class="col-sm-6 control-label error-label" for="inputError">
                                    </label>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-save">
                                保存
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!---------------------------角色 end--------------------------------->
        <!-----------------------------动作 begin------------------------------------------>
            <div class="modal fade" id="actionModal" tabindex="-1" role="dialog"
                 aria-labelledby="actionModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">×
                            </button>
                            <h4 class="modal-title" id="actionModalLabel">
                                添加动作
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form" id="actionform">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">动作名称</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="actionname" type="text" placeholder="动作名称">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">key</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="actionkey" type="text" placeholder="key">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">标签</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="actiontag" type="text" placeholder="标签">
                                    </div>
                                </div>
                                <div class="form-group has-error" style="display: none">
                                    <label class="col-sm-6 control-label error-label" for="inputError">
                                    </label>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-save">
                                保存
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        <!---------------------------动作 end--------------------------------->
            <!---------------------------添加菜单窗口 begin--------------------------------->
            <div class="modal fade" id="menuModal" tabindex="-1" role="dialog"
                 aria-labelledby="menuModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">×
                            </button>
                            <h4 class="modal-title" id="menuModalLabel">
                                添加菜单
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form" id="menuform">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">菜单名称</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="menuname" type="text" placeholder="菜单名称">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">菜单地址</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="menuurl" type="text" placeholder="菜单地址">
                                    </div>
                                </div>
                                <div class="form-group has-error" style="display: none">
                                    <label class="col-sm-6 control-label error-label" for="inputError">
                                    </label>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-save">
                                保存
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
            <!---------------------------添加菜单窗口 end--------------------------------->
        <!---------------------------添加组织窗口 begin--------------------------------->
        <div class="modal fade" id="orgModal" tabindex="-1" role="dialog"
             aria-labelledby="orgModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">×
                        </button>
                        <h4 class="modal-title" id="orgModalLabel">
                            添加机构
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" id="orgform">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">机构名称</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="orgname" type="text" placeholder="机构名称">
                                </div>
##                                <label class="col-sm-4 control-label check-error-orgname" for="inputError" style="display: none">机构名称不能为空</label>
                            </div>
                            <div class="form-group has-error" style="display: none">
                                <label class="col-sm-6 control-label error-label" for="inputError">
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        #*<button type="button" class="btn btn-default"
                                data-dismiss="modal">关闭
                        </button>*#
                        <button type="button" class="btn btn-primary btn-save-org">
                            保存
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <!---------------------------添加组织窗口 end--------------------------------->
        <!---------------------------通用提示窗口 begin--------------------------------->
        <div class="modal fade" id="msgModal" tabindex="-1" role="dialog"
             aria-labelledby="msgModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">×
                        </button>
                        <h4 class="modal-title" id="msgModalLabel">
                            提示
                        </h4>
                    </div>
                    <div class="modal-body has-error">
                        <label class="control-label msg-label" for="inputError">
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">关闭
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <!---------------------------通用提示窗口 end--------------------------------->
        <!---------------------------通用conform窗口 begin--------------------------------->
        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog"
             aria-labelledby="confirmModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">×
                        </button>
                        <h4 class="modal-title" id="confirmModalLabel">
                            警告
                        </h4>
                    </div>
                    <div class="modal-body has-error">
                        <label class="control-label msg-label" for="inputError">
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-cancel"
                                data-dismiss="modal">取消
                        </button>
                        <button type="button" class="btn btn-default btn-confirm"
                                data-dismiss="modal">确认
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <!---------------------------通用conform窗口 end--------------------------------->
        <script>
            function mainConfirm(msg,confirmCallback){
                jQuery('#confirmModal .msg-label').text(msg);
                jQuery('#confirmModal .btn-confirm').unbind("click")
                jQuery('#confirmModal .btn-confirm').on('click',confirmCallback);
                jQuery('#confirmModal').modal('show');
            }
            function mainAlert(msg){
                jQuery('#msgModal .msg-label').text(msg);
                jQuery('#msgModal').modal('show');
            }
            jQuery(function(){
                org.init();
                jQuery('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    // 获取已激活的标签页的名称
                    var tabid = jQuery(e.target).attr("id");
                    if (tabid=='org-tab') {
                        org.init();
                    }else if (tabid == 'action-tab') {
                        action.init();
                    }else if (tabid == 'menu-tab') {
                        menu.init();
                    }else if (tabid == 'role-tab') {
                        role.init();
                    }else if (tabid == 'user-tab') {
                        user.init();
                    }
                    /*// 获取前一个激活的标签页的名称
                    var previousTab = jQuery(e.relatedTarget).text();
                    jQuery(".active-tab span").html(activeTab);
                    jQuery(".previous-tab span").html(previousTab);*/
                });
                var actionList = "$!actionList";
                if (actionList) {
                    var actionArr = actionList.split(",");
                    for (var i=0;i<actionArr.length;i++) {
                        jQuery("[actionid='"+actionArr[i]+"']").show();
                    }
                }

                /*var defaultData = [
                    {
                        text: '机构',
                        id:0,
						parentid:-1
                    }
                ];
				var selectNode = null;
                var initSelectableTree = function(jsonData) {
                    return $('#treeview-selectable').treeview({
                        data: jsonData,
                        multiSelect: $('#chk-select-multi').is(':checked'),
                        onNodeSelected: function(event, node) {
                            selectNode=node;
                        },
                        onNodeUnselected: function (event, node) {
                        }
                    });
                };
                var orgtreedata = getOrgTree();
                var selectableTree = initSelectableTree(orgtreedata);
                jQuery('.btn-add-org').on('click', function (e) {
                    if(selectNode==null){
                        jQuery('#msgModal .msg-label').text('请先选择上级机构');
                        jQuery('#msgModal').modal('show');
                        return false;
                    }
                    jQuery('#orgModal').modal('show');
                });
                jQuery('.btn-save-org').on('click',function(e){
                    var orgname = jQuery('#orgform  #orgname').val();
                    if (selectNode==null||selectNode.id==null) {
                        jQuery('#orgform .has-error').show();
                        jQuery('#orgform .error-label').text('请先选择上级机构');
                        return false;
                    }
                    if (orgname!='') {
                        jQuery.ajax({
                            url:'/lawinfo/admin/org/add',
                            data:{name:orgname,parentorgid:selectNode.id},
                            type:'POST',
                            success:function(data) {
                                if (data==1) {
                                    var treedata = getOrgTree();
                                    selectableTree = initSelectableTree(treedata);
                                    $('#orgModal').modal('hide');
                                }else{
                                    jQuery('#orgform .has-error').show();
                                    jQuery('#orgform .error-label').text('保存异常');
                                }
                            },
                            error:function() {
                                jQuery('#orgform .has-error').show();
                                jQuery('#orgform .error-label').text('保存异常');
                            }
                        });
                    }else{
                        jQuery('#orgform .has-error').show();
                        jQuery('#orgform .error-label').text('机构名称不能为空');
                        return false;
                    }
                });
                function getOrgTree(){
                    var orgtree = null;
                    jQuery.ajax({
                        url:'/lawinfo/admin/org/findtree',
                        type:'GET',
                        async:false,
                        success:function(data) {
                            orgtree = data;
                        },
                        error:function() {
                            jQuery('#msgModal .msg-label').text('获取机构信息异常');
                            jQuery('#msgModal').modal('show');
                        }
                    });
                    return orgtree;
                }*/
            });

        </script>
	</body>
</html>