<!DOCTYPE html>
<html>
	<head>
        <META name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
        <META http-equiv="Content-Type" content="text/html; charset=utf-8">
        <META http-equiv="cache-control" content="no-cache">
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <META HTTP-EQUIV="Expires" CONTENT="0">
        <!-- 新 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="/static/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- 可选的Bootstrap主题文件（一般不用引入） -->
        <link rel="stylesheet" href="/static/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/static/common/common.css">
        <link rel="stylesheet" href="/static/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">


        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="/static/jquery/1.11.3/jquery.min.js"></script>

        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="/static/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="/static/bootstrap-treeview/bootstrap-treeview.js"></script>
        <script src="/static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
        <script src="/static/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
        <script src="/static/mybootstrappager/my_bootstrap-pager.js"></script>
	</head>
        #if($!pageVo)
            #set($list = $!pageVo.list)
            #set($currentPage = $!pageVo.page)
            #set($total = $!pageVo.total)
            #set($pageSize = $!pageVo.pageSize)
            #set($startIndex = $!pageVo.getStartIndex())
        #end
    <body>
        <form id='queryform' name='queryform'>
            <div class="container">
                <table class="table table-bordered table-striped table-hover common-table">
                    <tr>
                        <td>
                            <div class="col-xs-2">
                                <label>保税区:</label>
                            </div>
                            <div class="col-xs-4">
                                <input type="text" id="customsid" name="customsid" class="form-control field-query"/>
                            </div>
                            <div class="col-xs-2">
                                <label>关区:</label>
                            </div>
                            <div class="col-xs-4">
                                <input type="text" id="customsregioncode" name="customsregioncode" class="form-control field-query"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="hidden" name="page" id="page" page="$!currentPage"/>
                            <div class="pull-right">
                                <a href="javascript:void(0);" class="btn btn-info btn-sm btn-query">
                                    <span class="glyphicon glyphicon-search"></span> 查询
                                </a>
                                <a href="javascript:void(0);" class="btn btn-info btn-sm btn-query-reset">
                                    <span class="glyphicon glyphicon-refresh"></span> 重置
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
        <form id="mainform" name="mainform">
            <div class="container">
                <div class="table-responsive">
                    <div class="pull-right">
                        <div class="pager"></div>
                    </div>
                    <div>
                        <table class="table table-bordered table-striped table-hover common-table">
                            <thead>
                            <tr>
                                <th>
                                    <a href="javascript:void(0)" class="btn btn-default btn-sm btn-add">
                                        <span class="glyphicon glyphicon-plus"></span> 添加
                                    </a>
                                </th>
                                <th>序号</th>
                                <th>创建人</th>
                                <th>创建时间</th>
                                <th>摘要</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                                #if($list && $list.size()>0)
                                    #foreach($obj in $list)
                                        #set($tempIndex=$velocityCount+$startIndex - 1)
                                    <tr objId='$obj.id'>
                                        <td>
													<span>
														<a class='glyphicon glyphicon-trash btn btn-del' title='删除' href='javascript:void(0)'></a>
													</span>
                                        </td>
                                        <td>$tempIndex</td>
                                        <td>$obj.optuserid</td>
                                        <td>$obj.createtimestr</td>
                                        <td>$obj.getTitle()</td>
                                        <td>
                                            <a class='glyphicon glyphicon-pencil btn' title='修改' href='javascript:void(0)'></a>
                                            <a class='glyphicon glyphicon-eye-open btn' title='详情' href='javascript:void(0)'></a>
                                        </td>
                                    </tr>
                                    #end
                                #end
                            </tbody>
                        </table>
                    </div>
                    <div class="pull-right">
                        <div class="pager"></div>
                    </div>
                </div>
                <div id="caseinfo-modal" class="modal fade">
                    <div class="modal-dialog pregress-dialog" style="width: 800px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">新增案件</h4>
                            </div>
                            <div class="modal-body">
                                <form role="form" id="caseinfo-form">
                                    <div class="case-form">
                                        <div class="row form-group">
                                            <div class="col-xs-2">
                                                <label>诉讼律师:</label>
                                            </div>
                                            <div class="col-xs-10">
                                                <input id="sslawyers" class="form-control" type="text" disabled/>
                                                <input id="sslawyerids" class="form-control" type="text" style="display: none"/>
                                                <div id="progress-lawyer-tree"></div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-2">
                                                <label>案件所属机构:</label>
                                            </div>
                                            <div class="col-xs-10">
                                                <input id="caseorgid" class="form-control" type="text"  style="display: none"/>
                                                <input id="caseorgname" class="form-control" type="text" disabled/>
                                                <div id="progress-org-tree"></div>
                                            </div>
                                        #*<div class="col-xs-2">
                                            <label>案件是否完结:</label>
                                        </div>
                                        <div class="col-xs-4">
                                            <input id="casetype"  type="checkbox"/>
                                        </div>*#
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-2">
                                                <label>机构联络人:</label>
                                            </div>
                                            <div class="col-xs-10">
                                                <input id="contacts" class="form-control" type="text" disabled/>
                                                <input id="contactids" class="form-control" type="text" style="display: none"/>
                                                <div id="progress-user-tree"></div>
                                            </div>
                                        #*<div class="col-xs-2">
                                            <label>诉讼律师:</label>
                                        </div>
                                        <div class="col-xs-4">
                                            <input id="sslawyers" class="form-control" type="text" disabled/>
                                            <input id="sslawyerids" class="form-control" type="text" style="display: none"/>
                                            <div id="progress-lawyer-tree"></div>
                                        </div>*#
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-2">
                                                <label>案件是否完结:</label>
                                            </div>
                                            <div class="col-xs-4">
                                                <input id="casetype"  type="checkbox"/>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-2">
                                                <label>债权本金:</label>
                                            </div>
                                            <div class="col-xs-4">
                                                <input id="zqbj" type="text" class="form-control"/>
                                            </div>
                                            <div class="col-xs-2">
                                                <label>债权到期日期:</label>
                                            </div>
                                            <div class="col-xs-4">
                                                <input id="zqdqr" type="text" class="form-control" readonly/>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-2">
                                                <label>抵押物评估价值:</label>
                                            </div>
                                            <div class="col-xs-4">
                                                <input id="pawnvalue" type="text" class="form-control"/>
                                            </div>
                                            <div class="col-xs-2">
                                                <label>律师费总额:</label>
                                            </div>
                                            <div class="col-xs-4">
                                                <input id="totalprice" type="text" class="form-control"/>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-xs-2">
                                                <label>受理法院:</label>
                                            </div>
                                            <div class="col-xs-4">
                                                <input id="court" type="text" class="form-control"/>
                                            </div>
                                            <div class="col-xs-2">
                                                <label>承办法官:</label>
                                            </div>
                                            <div class="col-xs-4">
                                                <input id="judge" type="text" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-2">
                                                <label>债务人信息:</label>
                                            </div>
                                            <div class="col-xs-4">
                                                <textarea id="debtorinfo" rows="6" class="form-control" placeholder="债务人信息"></textarea>
                                            </div>
                                            <div class="col-xs-2">
                                                <label>是否与律所关联:</label>
                                            </div>
                                            <div class="col-xs-4">
                                                <input id="iscreditorrelated"  type="checkbox"/>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-2">
                                                <label>债务人财产状况:</label>
                                            </div>
                                            <div class="col-xs-4">
                                                <textarea  id="debtorpropertyinfo" class="form-control" rows="6"></textarea>
                                            </div>
                                            <div class="col-xs-2">
                                                <label>案由:</label>
                                            </div>
                                            <div class="col-xs-4">
                                                <textarea  id="ay" rows="6" class="form-control"></textarea>
                                            </div>
                                        </div>


                                        <div class="row form-group">
                                            <div class="col-xs-2">
                                                <label>担保人信息:</label>
                                            </div>
                                            <div class="col-xs-4">
                                                <textarea id="guarantorinfo" rows="6" class="form-control"></textarea>
                                            </div>
                                            <div class="col-xs-2">
                                                <label>是否与律所关联:</label>
                                            </div>
                                            <div class="col-xs-4">
                                                <input id="isguarantorrelated" type="checkbox"/>
                                            </div>

                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-2">
                                                <label>担保方式:</label>
                                            </div>
                                            <div class="col-xs-4">
                                                <textarea id="guaranteetype" rows="6" class="form-control"></textarea>
                                            </div>
                                            <div class="col-xs-2">
                                                <label>担保人财产状况:</label>
                                            </div>
                                            <div class="col-xs-4">
                                                <textarea id="guarantorpropertyinfo" rows="6" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-2">
                                                <label>抵押物信息:</label>
                                            </div>
                                            <div class="col-xs-4">
                                                <textarea id="pawninfo" rows="6" class="form-control"></textarea>
                                            </div>
                                            <div class="col-xs-2">
                                                <label>案件程序:</label>
                                            </div>
                                            <div class="col-xs-4">
                                                <textarea id="caseprocedure" rows="6" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="row has-error" style="display: none">
                                            <div class="col-xs-4">
                                            </div>
                                            <div class="col-xs-6">
                                                <label class="control-label error-label" for="inputError">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a type="button" class="btn btn-primary btn-lg btn-block submit">提交</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="caseinfo-progress-modal" class="modal fade" >
                    <div class="modal-dialog pregress-dialog" style="width: 1000px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">进度明细:<span id="casetitle"></span></h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#progress-query" data-toggle="tab" id="progress-query-tab" actionid="caseinfo-progress-query-tab" style="display: none">查看</a>
                                        </li>
                                        <li>
                                            <a href="#progress-edit" data-toggle="tab" id="progress-edit-tab" actionid="caseinfo-progress-edit-tab" style="display: none">编辑</a>
                                        </li>
                                        <li>
                                            <a href="#caseinfo-info" data-toggle="tab" id="caseinfo-info-tab" actionid="caseinfo-info-query-tab">案件信息</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="progress-query">
                                            <div>
                                                <table class="table table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>&nbsp;</th>
                                                        <th>序号</th>
                                                        <th>提交人</th>
                                                        <th>提交时间</th>
                                                        <th>内容</th>
                                                        <th>下一步计划</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="progress-edit">
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <div id="caseinfo-progress-tree"></div>
                                                </div>
                                                <div class="col-xs-8">
                                                    <form role="form" id="caseinfo-progress-form" style="display: none">
                                                    #*<div class="row form-group">
                                                        <div class="col-xs-12">
                                                            <button type="button" class="close" style="font-size: 30px">+</button>
                                                        </div>
                                                    </div>*#
                                                        <div id="caseinfo-progress-list">
                                                        </div>
                                                        <div class="row form-group" id="add-form">
                                                        </div>
                                                        <div class="row has-error" style="display: none">
                                                            <div class="col-xs-4">
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <label class="control-label error-label" for="inputError">
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="caseinfo-info">
                                            <div style="padding-top: 30px;text-align: right">
                                                <div class="row form-group">
                                                    <div class="col-xs-2">
                                                        <label>诉讼律师:</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <input id="ssls" class="form-control" type="text" disabled/>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <label>案件是否完结:</label>
                                                    </div>
                                                    <div class="col-xs-3" style="text-align: left">
                                                        <input id="ajsfwj"  type="checkbox" readonly/>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-xs-2">
                                                        <label>执行律师:</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <input id="zxls" class="form-control" type="text" disabled/>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <label>执行案号:</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <input id="zxah" class="form-control" type="text" disabled/>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-xs-2">
                                                        <label>案件所属机构:</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <input id="ajssjg" class="form-control" type="text" disabled/>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <label>机构联络人:</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <input id="jgllr" class="form-control" type="text" disabled/>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-xs-2">
                                                        <label>债权本金:</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <input id="zaiquanbj" type="text" class="form-control" disabled/>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <label>债权到期日期:</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <input id="zaiquandqr" type="text" class="form-control" disabled/>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-xs-2">
                                                        <label>抵押物评估价值:</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <input id="dywjj" type="text" class="form-control" disabled/>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <label>律师费总额:</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <input id="lsfze" type="text" class="form-control" disabled/>
                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col-xs-2">
                                                        <label>受理法院:</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <input id="slfy" type="text" class="form-control" disabled/>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <label>承办法官:</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <input id="cbfg" type="text" class="form-control" disabled/>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-xs-2">
                                                        <label>债务人信息:</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <textarea id="zwrxx" rows="6" class="form-control" placeholder="债务人信息" disabled></textarea>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <label>是否与律所关联:</label>
                                                    </div>
                                                    <div class="col-xs-3" style="text-align: left">
                                                        <input id="zwrsfgl"  type="checkbox" readonly/>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-xs-2">
                                                        <label>债务人财产状况:</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <textarea  id="zwrcczk" class="form-control" rows="6" disabled></textarea>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <label>案由:</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <textarea  id="anyou" rows="6" class="form-control" disabled></textarea>
                                                    </div>
                                                </div>


                                                <div class="row form-group">
                                                    <div class="col-xs-2">
                                                        <label>担保人信息:</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <textarea id="dbrxx" rows="6" class="form-control" disabled></textarea>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <label>是否与律所关联:</label>
                                                    </div>
                                                    <div class="col-xs-3" style="text-align: left">
                                                        <input id="dbrsfgl" type="checkbox" readonly/>
                                                    </div>

                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-xs-2">
                                                        <label>担保方式:</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <textarea id="dbfs" rows="6" class="form-control" disabled></textarea>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <label>担保人财产状况:</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <textarea id="dbrcczk" rows="6" class="form-control" disabled></textarea>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-xs-2">
                                                        <label>抵押物信息:</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <textarea id="dywxx" rows="6" class="form-control" disabled></textarea>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <label>案件程序:</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <textarea id="ajcx" rows="6" class="form-control" disabled></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
                <div id="caseinfo-exelawyer-modal" class="modal fade" >
                    <div class="modal-dialog pregress-dialog" style="width: 1000px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">添加执行律师</h4>
                            </div>
                            <div class="modal-body">
                                <form role="form" id="caseinfo-exelawyer-form">
                                    <div class="row form-group">
                                        <div class="col-xs-4">执行案号</div>
                                        <div class="col-xs-8"><input id="exeajbh" class="form-control" type="text"/></div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-4">执行律师</div>
                                        <div class="col-xs-8">
                                            <input id="exelawyers" class="form-control" type="text" readonly/>
                                            <input id="exelawyerids" class="form-control" type="text" style="display: none"/>
                                            <div id="caseinfo-exelawyer-tree">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row has-error" style="display: none">
                                        <div class="col-xs-4">
                                        </div>
                                        <div class="col-xs-6">
                                            <label class="control-label error-label" for="inputError">
                                            </label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-primary btn-lg btn-block submit">提交</a>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
                <div class="modal fade" id="msgModal" tabindex="-1" role="dialog"
                     aria-labelledby="msgModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">×
                                </button>
                                <h4 class="modal-title" id="msgModalLabel">
                                    提示
                                </h4>
                            </div>
                            <div class="modal-body has-error">
                                <label class="control-label msg-label" for="inputError">
                                </label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">关闭
                                </button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
            </div>
        </form>
        <script>
            var currentId;
            var locationUrl = '/man/newmasterdata/merchant';
            jQuery('.pager').my_page({url:locationUrl,currentPage:'$!currentPage',formname:'mainform',total:'$!total',pageSize:'$!pageSize',queryform:'queryform'});
            $('.btn-query').click(function(e){
                /*var customsid = $("#customsid","form[id='queryform']").val();
                var customsregioncode = $("#customsregioncode","form[id='queryform']").val();
                if ((customsid&&customsregioncode)||(!customsid&&!customsregioncode)) {
                    $('#page').val(1);
                    $("form[name='queryform']").attr("action", locationUrl);
                    $("form[name='queryform']").attr("method", 'POST');
                    $("form[name='queryform']").submit();
                }else{
                    alert('带条件查询时必须同时选择海关和关区');
                }*/
            });
            $('.btn-query-reset').click(function(e){
                $(".field-query","form[id='queryform']").val('');
                $('#page').val(1);
            });
        </script>
	</body>
</html>