<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="com/lawinfo/dao/org/OrgDao.xml"/>
        <mapper resource="com/lawinfo/dao/org/ActionDao.xml"/>
        <mapper resource="com/lawinfo/dao/org/MenuDao.xml"/>
        <!--<mapper resource="com/lawinfo/dao/org/OrgDao.xml"/>
        <mapper resource="com/lawinfo/dao/org/DeptDao.xml"/>
        <mapper resource="com/lawinfo/dao/org/RoleDao.xml"/>
        <mapper resource="com/lawinfo/dao/org/PrivilegeDao.xml"/>
        <mapper resource="com/lawinfo/dao/org/RolePrivilegeDao.xml"/>
        <mapper resource="com/lawinfo/dao/org/CaseInfoDao.xml"/>
        <mapper resource="com/lawinfo/dao/org/CaseProgressDao.xml"/>
        <mapper resource="com/lawinfo/dao/org/LoginLogDao.xml"/>
        <mapper resource="com/lawinfo/dao/org/SmsDao.xml"/>
        <mapper resource="com/lawinfo/dao/org/UserDao.xml"/>
        <mapper resource="com/lawinfo/dao/org/UserRoleDao.xml"/>-->
    </mappers>
</configuration>