.pregress-dialog {
  width: 800px;
}
.node-list {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}
.node-list .line {
  background: #aaa;
  height: 1px;
  top: 50%;
  position: absolute;
  width: 96%;
  margin-top: -1px;
}
.detail .node {
  width: 50px;
  height: 50px;
  background: #aaa;
  float: left;
  margin-left: 90px;
  border-radius: 25px;
}
.node-list .n1 {
  margin-left: 0;
}
.glyphicon {
  color: #008001;
}
.nav-tabs.nav-justified > li.active a {
  color: #008001;
  font-weight: bold;
}
#statistic {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  display: none;
  z-index: 2000;
}
.case-form {
  margin-bottom: 15px;
}
.case-form select {
  width: 150px;
}
.node-selected .expand-icon {
  color: #fff;
}
#node-tree {
  width: 200px;
}
#node-tree .list-group-item {
  border: none;
}
#case-add .property label {
  min-width: 112px;
  margin-left: 10px;
}
